<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>医疗机构新型冠状病毒肺炎筛查表 COVID-19 Screening Questionnaire for Healthcare Facilities</title>
    <script src="__JS__/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" href="__CSS__/add.css">
</head>

<body>
    <div class="main">
        <div class="title"><span class="must">*</span>姓名 Name:</div>
        <div class="input-list">
            <input id="name" class="input" name="" placeholder="请输入姓名" maxlength="" autocomplete="off" type="text">
        </div>
        <div class="title"><span class="must">*</span>证件类型 ID Type:</div>
        <div class="input-list input-none" id="id">
            <div class="choose-text id_type"></div>
            <input type="hidden" value="" id="id_type">
            <div class="right"><img src="__IMG__/right.png?s=1" alt="" srcset=""></div>
        </div>
        <div class="title"><span class="must">*</span>证件号码 ID Number:</div>
        <div class="input-list">
            <input id="id_number" class="input" name="" placeholder="请输入" maxlength="" autocomplete="off" type="text">
        </div>
        <div class="title"><span class="must">*</span>联系电话 Contact Number:</div>
        <div class="input-list">
            <input id="phone_number" class="input" name="" placeholder="请输入" maxlength="" autocomplete="off" type="text">
        </div>
        <div class="title"><span class="must">*</span>现住省 Province:</div>
        <div class="input-list input-none" id="rovince">
            <div class="choose-text province_value"></div>
            <input type="hidden" value="" id="province_value">
            <div class="right"><img src="__IMG__/right.png?s=1" alt="" srcset=""></div>
        </div>
        <div class="title"><span class="must">*</span>现住城市 City:</div>
        <div class="input-list input-none" id="city">
            <div class="choose-text city_value"></div>
            <input type="hidden" value="" id="city_value">
            <div class="right"><img src="__IMG__/right.png?s=1" alt="" srcset=""></div>
        </div>
        <div class="title"><span class="must">*</span>现住区域 District:</div>
        <div class="input-list input-none">
            <div class="right"><img src="__IMG__/right.png?s=1" alt="" srcset=""></div>
        </div>
        <div class="title"><span class="must">*</span>现住址（请提供具体地址包括门牌号）
            Detailed Address(detailed to the Unit#):</div>
        <div class="input-list">
            <input class="input" name="" placeholder="请输入姓名" maxlength="" autocomplete="off" type="text">
        </div>
        <div class="title"><span class="must">*</span>就诊医院 Visiting Hospital:</div>
        <div class="input-list input-none">
            <div class="right"><img src="__IMG__/right.png?s=1" alt="" srcset=""></div>
        </div>
        <div class="title"><span class="must">*</span>就诊科室 Visiting Hospital:</div>
        <div class="input-list input-none">
            <div class="right"><img src="__IMG__/right.png?s=1" alt="" srcset=""></div>
        </div>

        <div class="btng">
            <div class="btn">
                <div class="cn">以下问题，全部为否</div>
                <div class="en">No for All the Screening Questions</div>
            </div>
        </div>
        <div class="problem-list">
            <div>21天斯蒂芬斯蒂芬斯蒂芬斯蒂芬斯蒂芬斯蒂芬天斯蒂芬斯蒂芬斯蒂芬斯蒂芬斯蒂芬斯蒂芬</div>
            <div class="en">dddd sdfsdfsdf sd sd sd sd </div>
            <div class="img"><img
                    src="https://img2.baidu.com/it/u=971188980,3993623863&fm=253&fmt=auto&app=138&f=JPEG?w=658&h=494"
                    alt=""></div>
            <div class="CheckBox">
                <div class="left"><input name="" type="checkbox" value="" />是</div>
                <div class="right"><input name="" type="checkbox" value="" />否</div>
            </div>
        </div>
        <div class="bottom-dinger">
            <div><input name="" type="checkbox" value="" /></div>
            <div class="dinger">重要提示：《传染病防治法》规定隐瞒疫区旅游史或接触史者要承担相应的法律责任</div>
        </div>
        <div class="dinger-en">
            Important Notice：According to "Communicable Disease Prevention Act
            of the People's Republic of China", people who hide the travel or
            contact history to Diseases Affected area shall bear civil liability
        </div>


        <div class="btng">
            <div class="btn" id="submit">
                <div class="cn">我承诺所填信息准确并提交</div>
                <div class="en">I commit all provided information is accurate and give my Permission to submit the
                    information. </div>
            </div>
        </div>

    </div>
    <div class="alert">
        <div class="alertDiv">
            <div class="text">
                <div class="error"><img src="__IMG__/error.png" alt=""></div>
                <div id="alertMsg">证件号码不能为空</div>
            </div>
        </div>
    </div>
    <div class="choose">
        <div class="select">
            <div class="title" id="choose-title"></div>
            <div class="close"><img src="__IMG__/error.png" alt=""></div>
            <div class="listDiv" id="listDiv"></div>
        </div>
    </div>
    <input id="apiUrl" type="hidden" value="<?php echo $apiUrl;?>">

</body>
<script src="__JS__/add.js"></script>

</html>